.home-container {
  width: 100%;
  /* min-height: 88vh; */
  background-color: #eaeaea;
  padding-top: 200px;
  /* margin-top: 90px; */
}

.idx-title-container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 334px; */
  margin: 0 auto;
  padding-top: 150px;
  /* border: 1px dotted blue; */
}

h1.idx-title {
  /* text-align: center; */
  font-size: 96px;
  color: #bcbcbc;
  color: #ddd;
  text-shadow: 2px 2px 5px #555;
  /* border: 1px dotted red; */
}

.parallelogram {
  width: 150px;
  height: 70px;
  transform: skew(-35deg);
  background-image: linear-gradient(180deg, #0d7bc0, #1cb3e9);
  margin-top: 25px;
}
